
{% extends 'base.html' %}


{% block 'content' %}
<!-- About Start -->

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s" src="https://themewagon.github.io/restoran/img/about-4.jpg">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s" src="https://themewagon.github.io/restoran/img/about-4.jpg" style="margin-top: 25%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s" src="https://themewagon.github.io/restoran/img/about-4.jpg">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s" src="https://themewagon.github.io/restoran/img/about-4.jpg">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h5 class="section-title ff-secondary text-start text-primary fw-normal">¿Qué es Only Flans?</h5>
                <h1 class="mb-4"> Welcome to <i class="fa fa-utensils text-primary me-2"></i>Only Flans</h1>
                <h3> **Nosotros: Descubre la Esencia de Only Flans** </h3>
                <p class="mb-4">

---

¡Bienvenido a Only Flans, donde la pasión por los flanes se fusiona con la creatividad culinaria!

En Only Flans, nos apasiona ofrecerte una experiencia única y deliciosa con cada bocado. Nuestra historia comienza con la búsqueda de la perfección en un postre clásico: el flan. Pero no nos conformamos con lo convencional, nos esforzamos por llevar este delicado postre a nuevas alturas, explorando una amplia gama de sabores y texturas para deleitar tu paladar. </p>

<h4> **Nuestra Misión** </h4>

<p> En Only Flans, nuestra misión es simple pero audaz: reinventar el concepto de flan para satisfacer los paladares más exigentes. Nos comprometemos a ofrecerte flanes de la más alta calidad, elaborados con ingredientes frescos y cuidadosamente seleccionados, combinados con técnicas innovadoras para crear experiencias gastronómicas incomparables. </p>

<h4> **Nuestro Compromiso con la Calidad** </h4>

<p> En Only Flans, la calidad es nuestra máxima prioridad. Desde la selección de ingredientes hasta el proceso de elaboración, cada paso se realiza con meticulosa atención al detalle para garantizar que cada flan que llegue a tu mesa sea una obra maestra de sabor y textura. Nos esforzamos por superar tus expectativas en cada aspecto, desde el primer bocado hasta el último. </p>

<h4> **Nuestro Equipo** </h4>

Detrás de cada delicioso flan de Only Flans, hay un equipo apasionado y dedicado de chefs, reposteros y amantes de la cocina que comparten un objetivo común: crear momentos inolvidables a través de la comida. Nuestro equipo trabaja incansablemente para desarrollar nuevas recetas, perfeccionar técnicas y asegurarse de que cada flan que producimos cumpla con nuestros exigentes estándares de calidad.

<h4>  **Únete a la Experiencia Only Flans** </h4>

Te invitamos a unirte a nosotros en este viaje culinario único. Descubre la magia de nuestros deliciosos flanes, explora una variedad de sabores exquisitos y déjate llevar por la dulce tentación de Only Flans. Ya sea que estés buscando un postre para deleitar a tus invitados o simplemente quieras darte un capricho, estamos aquí para satisfacer tus antojos de flan de la manera más deliciosa posible.

<h4> **Contáctanos** </h4>

¿Listo para sumergirte en el delicioso mundo de Only Flans? ¡Contáctanos hoy mismo para realizar tu pedido o para obtener más información sobre nuestros productos y servicios! Estamos encantados de atenderte y compartir nuestra pasión por los flanes contigo.

¡Gracias por elegir Only Flans, donde cada bocado es una experiencia inolvidable!

--- 

                <p class="mb-4"></p>
                <div class="row g-4 mb-4">
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                            <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">15</h1>
                            <div class="ps-4">
                                <p class="mb-0">Years of</p>
                                <h6 class="text-uppercase mb-0">Experience</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                            <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">50</h1>
                            <div class="ps-4">
                                <p class="mb-0">Popular</p>
                                <h6 class="text-uppercase mb-0">Master Chefs</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Team Start -->
<div class="container-xxl pt-5 pb-3">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Team Members</h5>
            <h1 class="mb-5">Our Master Chefs</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item text-center rounded overflow-hidden">
                    <div class="rounded-circle overflow-hidden m-4">
                        <img class="img-fluid" src="https://themewagon.github.io/restoran/img/team-1.jpg" alt="">
                    </div>
                    <h5 class="mb-0">Full Name</h5>
                    <small>Designation</small>
                    <div class="d-flex justify-content-center mt-3">
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item text-center rounded overflow-hidden">
                    <div class="rounded-circle overflow-hidden m-4">
                        <img class="img-fluid" src="https://themewagon.github.io/restoran/img/team-1.jpg" alt="">
                    </div>
                    <h5 class="mb-0">Full Name</h5>
                    <small>Designation</small>
                    <div class="d-flex justify-content-center mt-3">
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item text-center rounded overflow-hidden">
                    <div class="rounded-circle overflow-hidden m-4">
                        <img class="img-fluid" src="https://themewagon.github.io/restoran/img/team-1.jpg" alt="">
                    </div>
                    <h5 class="mb-0">Full Name</h5>
                    <small>Designation</small>
                    <div class="d-flex justify-content-center mt-3">
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item text-center rounded overflow-hidden">
                    <div class="rounded-circle overflow-hidden m-4">
                        <img class="img-fluid" src="https://themewagon.github.io/restoran/img/team-1.jpg" alt="">
                    </div>
                    <h5 class="mb-0">Full Name</h5>
                    <small>Designation</small>
                    <div class="d-flex justify-content-center mt-3">
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->



<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="lib/wow/wow.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/counterup/counterup.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/tempusdominus/js/moment.min.js"></script>
<script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
{% endblock 'content' %}